flexContainer {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-content {
    padding: 50px 50px;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer {
    background-image: linear-gradient(white, #1381ff);
    padding: 20px 0;
}

#searchInput {
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbarCollapse {
    display: flex;
    justify-content: right;
    align-items: center;
}
.copyright {
    justify-content: center;
    align-items: center;
}


